<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletLocationDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletLocationDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLocationDemo</servlet-name>
    <url-pattern>/servlet/ServletLocationDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGzipDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletGzipDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGzipDemo</servlet-name>
    <url-pattern>/servlet/ServletGzipDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContypeDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletContypeDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContypeDemo</servlet-name>
    <url-pattern>/servlet/ServletContypeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRefreshDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletRefreshDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRefreshDemo</servlet-name>
    <url-pattern>/servlet/ServletRefreshDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContentDispositionDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletContentDispositionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContentDispositionDemo</servlet-name>
    <url-pattern>/servlet/ServletContentDispositionDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSecuDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletSecuDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSecuDemo</servlet-name>
    <url-pattern>/servlet/ServletSecuDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUnsecuDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletUnsecuDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUnsecuDemo</servlet-name>
    <url-pattern>/servlet/ServletUnsecuDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>mysecondgod</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/servlet/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContext1Demo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletContext1Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext1Demo</servlet-name>
    <url-pattern>/servlet/ServletContext1Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContext2Demo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletContext2Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext2Demo</servlet-name>
    <url-pattern>/servlet/ServletContext2Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextParamDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletContextParamDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextParamDemo</servlet-name>
    <url-pattern>/servlet/ServletContextParamDemo</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>url</param-name>
    <param-value>http://mysecondgod.top</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletReqDispatcherDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletReqDispatcherDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReqDispatcherDemo</servlet-name>
    <url-pattern>/servlet/ServletReqDispatcherDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletReqDistationDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletReqDistationDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReqDistationDemo</servlet-name>
    <url-pattern>/servlet/ServletReqDistationDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBufferDemo</display-name>
    <servlet-name>ServletBufferDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletBufferDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBufferDemo</servlet-name>
    <url-pattern>/servlet/ServletBufferDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseContypeDemo</display-name>
    <servlet-name>ResponseContypeDemo</servlet-name>
    <servlet-class>top.mysecondgod.response.study.ResponseContypeDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseContypeDemo</servlet-name>
    <url-pattern>/http/ResponseContypeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDownloadDemo</display-name>
    <servlet-name>ResponseDownloadDemo</servlet-name>
    <servlet-class>top.mysecondgod.response.study.ResponseDownloadDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDownloadDemo</servlet-name>
    <url-pattern>/http/ResponseDownloadDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseContypeDemo</servlet-name>
    <url-pattern>/http/ResponseContypeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseImageDemo</servlet-name>
    <servlet-class>top.mysecondgod.response.study.ResponseImageDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseImageDemo</servlet-name>
    <url-pattern>/http/ResponseImageDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImageDemo</display-name>
    <servlet-name>ServletImageDemo</servlet-name>
    <servlet-class>top.mysecondgod.servlet.study.ServletImageDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImageDemo</servlet-name>
    <url-pattern>/ServletImageDemo</url-pattern>
    <url-pattern>/servlet/ServletImageDemo</url-pattern>
  </servlet-mapping>
</web-app>